<div class="companyProfileApplication">
	<div class="navbar">
		<div class="app-sidebar" />
		<div class="app-mainContent">
			<ul class="menu">
				<li class="menu_item overview selected" data-literal='{"scope":"main.menu","name":"lbl_menu_overview"}' />
				<li class="menu_item branches" data-literal='{"scope":"main.menu","name":"lbl_menu_branches"}' />
				<li class="menu_item sunits" data-literal='{"scope":"main.menu","name":"lbl_menu_storage"}' />
			</ul>
		</div>
	</div>
	<div class="mainContainer">
		<div class="app-sidebar">
			<div class="clogo" />
		</div>
		<div class="app-mainContent" />
	</div>
</div>